<div class="pad-lister-link-container">
  Get an overview of <em>all*</em> pads in the <a href="/all-pads">Padlist</a>!
  <br />
  (* pad names starting with
  <span class="code"><%= PRIVATE_PAD_PREFIX %></span> and new pads without any
  changes are NOT listed.)
</div>
