<!DOCTYPE html>
<html>
  <head>
    <title>All pads</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <style type="text/css">
      body {
        font-size: 16px;
        font-family: sans-serif;
      }
      .container {
        width: 80%;
        max-width: 80em;
        margin: 0 auto;
      }
      code {
        color: #c7254e;
      }
      footer {
        margin-top: 5em;
      }
      .table {
        width: 100%;
        border-collapse: collapse;
      }
      th {
        text-align: left;
        background: #eee;
        border-bottom: 1px solid rgb(211, 211, 211);
      }
      tr:nth-of-type(2n) {
        background: #eee;
      }
      tr:nth-of-type(2n):hover {
        background: #eaeaea;
      }
      td,
      th {
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>All pads</h1>
      <p><em>All*</em> pads, sorted by last edit date.</p>
    </div>

    <div class="container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Pad</th>
            <th>Revision</th>
            <th>Last edit date</th>
          </tr>
        </thead>
        <tbody>
          <% pads.forEach(function (pad) { %>
          <tr>
            <td><a href="/p/<%= pad.name %>"><%= pad.name %></a></td>
            <td><%= pad.lastRevision %></td>
            <td><%= pad.lastEditTime %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <footer>
      <div class="container">
        <small>
          * Pad names starting with <code><%= PRIVATE_PAD_PREFIX %></code> and
          new pads without any changes are NOT listed.
        </small>
      </div>
    </footer>
  </body>
</html>
